.nav-brand {
  display: flex;
  align-items: center;
}
.nav-brand__img {
  width: 40px;
  height: 40px;
}
.nav-brand__span {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 14px;
  transition: var(--tran-05);
}

.nav-items {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 90px);
}
